<div class="search-form mt-4">
  <form class="" role="search" method="post">
    <div class="form-group">
      <label for="search-input">Từ khóa</label>
      <input class="form-control me-2" name="q" type="search" placeholder="Search" aria-label="Search">
    </div>
    <div class="form-group mt-4">
      <label for="search-input">Từ khóa</label>
      <select name="gender" id="gender-id" class="form-control">
        <option value="">--Chọn giới tính--</option>
        <option value="male">Nam</option>
        <option value="female">Nữ</option>
      </select>
    </div>
    <button class="btn btn-outline-success mt-4" type="submit">Search</button>
  </form>
</div>